.card {
	span {
		transition: transform 0.3s ease-in-out;
		opacity: 0;
		z-index: 2;
	}
	img {
		transition: transform 0.3s ease-in-out;
	}

	&::after {
		content: '';
		display: block;
		background-color: rgba(31, 30, 30, 0.281);
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		opacity: 0;
		z-index: 1;
	}

	&:hover {
		img {
			transform: scale(1.1);
		}
		span {
			opacity: 1;
		}
		&::after {
			opacity: 1;
		}
	}
}
