.button{
  &:hover > span:last-of-type{
    box-shadow: 0px 0px 2px 2px rgba(252,204,55,1);
    -webkit-box-shadow: 0px 0px 2px 2px rgba(252,204,55,1);
    -moz-box-shadow: 0px 0px 2px 2px rgba(252,204,55,1);
  }

  input{

    & ~ span{
      transform: translateX(-5%);
    }

    &:checked ~ span{
      transform: translateX(140%);
    }
  }
}

.round{
  transition: transform .3s ease-in-out;

}